{{define "master"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Assets Test</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="description" content="Assets Test Page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/file1.css"/>
</head>
<body>
    <h1>Home</h1>
    <img src="/assets/images/test.jpg" alt="Test Image" />
	<script type="text/javascript" src="/assets/js/file1.js"></script>
</body>
</html>
{{end}}